.social-icon {
    display: block;
    width: 28px;
    height: 28px;
    background-size: contain;
    background-repeat: no-repeat;
}

.facebook {
    background-image: url("../icons/social-icons/rounded/facebook.svg");
}

.youtube {
    background-image: url("../icons/social-icons/rounded/youtube.svg");
}

.twitter {
    background-image: url("../icons/social-icons/rounded/twitter.svg");
}

.pinterest {
    background-image: url("../icons/social-icons/rounded/pinterest.svg");
}

.instagram {
    background-image: url("../icons/social-icons/rounded/instagram.svg");
}

.linkedin {
    background-image: url("../icons/social-icons/rounded/linkedin.svg");
}

.googleplus {
    background-image: url("../icons/social-icons/rounded/googleplus.svg");
}

.whatsapp {
    background-image: url("../icons/social-icons/rounded/whatsapp.svg");
}

.snapchat {
    background-image: url("../icons/social-icons/rounded/snapchat.svg");
}

.feed {
    background-image: url("../icons/social-icons/rounded/feed.svg");
}

.flipboard {
    background-image: url("../icons/social-icons/rounded/flipboard.svg");
}

.messenger {
    background-image: url("../icons/social-icons/rounded/messenger.svg");
}

.reddit {
    background-image: url("../icons/social-icons/rounded/reddit.svg");
}

.skype {
    background-image: url("../icons/social-icons/rounded/skype.svg");
}